<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="port" default="/dev/wheeltec_gnss" />
  <arg name="baud" default="115200" />


  <node name="wheeltec_dual_rtk_driver" pkg="wheeltec_dual_rtk_driver" type="wheeltec_dual_rtk_driver.py" output="screen">
    <param name="port" value="$(arg port)"/>
    <param name="baud" value="$(arg baud)" />
  </node>
</launch>
