<launch>
  <!-- Arguments参数 -->
  <arg name="car_mode"  default="" />
  <arg name="if_voice" default="false"/>
  <arg name="car_with_arm" default="false"/>
  
  <!-- car_mode and tf  -->
  <group if="$(eval car_mode == 's300_pro')">
      <!-- 用于rplidar_ros节点，后面同理不再赘述-->
      <node pkg="tf" type="static_transform_publisher" name="base_to_laser"  args="0.0 0.00  0.19 3.14 0 0  base_footprint laser 100" /> <!--laser-->
      <node pkg="tf" type="static_transform_publisher" name="base_to_laser1" args="0.3 0.235 0.19  0.785 0 0  base_footprint laser1 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_laser2" args="-0.3 -0.235 0.19  -2.355 0 0  base_footprint laser2 100" /> 
      <node pkg="tf" type="static_transform_publisher" name="base_to_rangeA" args="0.34 0.275 0.1 0 0 0   base_footprint range_avoid_linkA 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_rangeB" args="0.34 0.165 0.1 0 0 0   base_footprint range_avoid_linkB 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_rangeC" args="0.34 0.055 0.1 0 0 0   base_footprint range_avoid_linkC 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_rangeD" args="0.34 -0.055 0.1 0 0 0   base_footprint range_avoid_linkD 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_rangeE" args="0.34 -0.165 0.1 0 0 0   base_footprint range_avoid_linkE 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_rangeF" args="0.34 -0.275 0.1 0 0 0   base_footprint range_avoid_linkF 100" />

     <!--  laser_avoid -->
      <node pkg="tf" type="static_transform_publisher" name="base_to_laser_avoid" args="0 0 0.05 3.14 0 0   base_footprint laser_avoid 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0 0 0 0 0 0 base_footprint gyro_link 100" />
  </group>

    <group if="$(eval car_mode == 's300_pro_mini' )">
      <!-- 用于rplidar_ros节点，后面同理不再赘述-->
      <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.0 0.00 0.16 3.14 0 0                  base_footprint laser 100" /> <!--laser-->
      <node pkg="tf" type="static_transform_publisher" name="base_to_laser1" args="0.215  0.175 0.155 0.785 0 0        base_footprint laser1 100" />

      <node pkg="tf" type="static_transform_publisher" name="base_to_laser2" args="-0.215 -0.175 0.155 -2.355 0 0       base_footprint laser2 100" /> 
      <node pkg="tf" type="static_transform_publisher" name="base_to_rangeA" args="0.26 0.20 0.09 0.7854 0 0           base_footprint range_avoid_linkA 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_rangeB" args="0.26 0.11 0.09 0 0 0                base_footprint range_avoid_linkB 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_rangeC" args="0.26 0 0.09 0 0 0                   base_footprint range_avoid_linkC 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_rangeD" args="0.26 -0.11 0.09 0 0 0               base_footprint range_avoid_linkD 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_rangeE" args="0.26 -0.20 0.09 -0.7854 0 0         base_footprint range_avoid_linkE 100" />
     <!--  laser_avoid -->
      <node pkg="tf" type="static_transform_publisher" name="base_to_laser_avoid" args="0 0 0.09 3.14 0 0   base_footprint laser_avoid 100" />
      <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0 0 0 0 0 0 base_footprint gyro_link 100" />
  </group>



  <group if="$(eval car_mode == 's300_pro')">
    <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0.17357 0 0.2082 0 0 0 base_footprint base_link 100" />
    <param  name="robot_description" command="xacro  '$(find rm_description)/urdf/ECO65/s300_pro.xacro'"/>
  </group>

  <group if="$(eval car_mode == 's300_pro_mini')">
    <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0.0839 0  0.1904 0 0 0 base_footprint base_link 100" />
    <param  name="robot_description" command="xacro  '$(find rm_description)/urdf/ECO65/s300_pro_mini.xacro'"/>
  </group> 

  </launch>
