<launch>

  <!-- v550_akm小车  -->
  <arg name="ros_param_file"         default="$(find wheeltec_jetracer)/params/v550_akm.yaml"/>

  <!--  v550_mec小车  --> 
  <!-- <arg name="ros_param_file"         default="$(find wheeltec_jetracer)/params/v550_mec.yaml"/> -->

  <node pkg="wheeltec_jetracer" type="laser_detect.py" name='laser_detect' />
  <node pkg="wheeltec_jetracer" type="road_following.py" name="wheeltec_jetracer"  output="screen">
  <!-- Load parameters -->
  <rosparam command="load" file="$(arg ros_param_file)"/>
  </node>

  <!-- 开启激光雷达跟随节点  -->
  <include file='$(find simple_follower)/launch/nodes/laserTracker.launch' />
  <!-- 开启机器人底层相关节点  -->
  <include file="$(find turn_on_wheeltec_robot)/launch/turn_on_wheeltec_robot.launch" />
  <!-- turn on lidar开启雷达  -->
  <include file="$(find turn_on_wheeltec_robot)/launch/wheeltec_lidar.launch" />
</launch>
